/* static/css/dashboard.css */
body {
    background-color: hwb(185 60% 3%); /* Navy blue */
}

h1 {
    color: #031563;
    text-align: center;
    padding-top: 50px;
}

table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #0e0e0f;
}

th {
    background-color: hsl(253, 60%, 97%);
}

tr:nth-child(even) {
    background-color: #f6f5fa;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #02030c;
}
